/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #ff0070;
  --accent-transparent-color: rgba(255, 0, 112, 0.4);
  --accent-decorations-color: #ff0070;
  --background-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --background-image: url(../images/cover-image-dark.png);
}
