/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #ff8dcb;
  --accent-transparent-color: rgba(50, 49, 45, 0.4);
  --accent-decorations-color: #353430;
  --background-color: #353430;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --background-image: url(../images/cover-image-light.png);
  --header-lamp-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --accent-transparent-color: rgba(50, 49, 45, 0.4);
    --accent-decorations-color: #353430;
    --background-color: #353430;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --background-image: url(../images/cover-image-light.png);
    --header-lamp-display: none;
  }
}
