/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --background-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --text-default-size: 18px;
  --fonts: 'IBM Plex Mono', monospace;
  --text-header-footer-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --padding-header-footer: 10px;
  --padding-main: 0 10px;
  --line-height-title: 82.5%;
  --line-height-main: 130%;
  --row-gap-main: 50px;
  --margin-between: 40px;
  --gap-gallery: 10px
}